{{#each system.skills as |figure keyF|}}
<div class="figure {{keyF}} grid-2col">
        <h3 class="resource-label flexlarge align-center grid-span-2" data-label="{{figure.label}}">{{figure.label}}</h3>

        <div class="skills flexlarge grid-2col grid-span-2">
        {{#each figure as |skill keyS|}}
                {{#unless label}}
                        
                {{else}}
                        <label for="system.skills.{{keyF}}.{{keyS}}.value" class="rollableSkill resource-label skill-label flexlarge align-left" data-figure="{{keyF}}"
                                data-skill="{{keyS}}">{{skill.label}}</label>
                        <input type="text" class="flexlarge" name="system.skills.{{keyF}}.{{keyS}}.value" value="{{skill.value}}"
                                data-dtype="Number" />
                {{/unless}}
        {{/each}}
        </div>
</div>
{{/each}}