<div class="path-abilities-list">
        <ol class="items-list">
                <li class="item grid grid-7col items-header">
                        <div class="item-name grid-span-2">{{localize "CAPHARNAUM.PathAbilities"}}</div>
                        <div class="item-name">{{localize "CAPHARNAUM.PathLevel"}}</div>
                        <div class="item-name grid-span-3">{{localize "CAPHARNAUM.PathDescription"}}</div>
                        <div class="item-controls">
                                <a class="item-control item-create" title="Create item" data-type="path_ability"><i
                                                class="fas fa-plus"></i> {{localize "CAPHARNAUM.Add"}}</a>
                        </div>
                </li>
                {{#each path_ability as |item id|}}
                        <li class="item grid grid-7col" data-item-id="{{item._id}}">
                                <div class="item-name grid-span-2">
                                        <div class="item-image">
                                                <a class="rollable" data-roll-type="item"><img src="{{item.img}}"
                                                                title="{{item.name}}" width="24" height="24" /></a>
                                        </div>
                                        <p>{{item.name}}</p>
                                </div>
                                <div class="ability-level">
                                        <h4>{{item.system.level}}</h4>
                                </div>
                                <div class="ability-description grid-span-3">
                                        {{{item.system.description}}}
                                </div>
                                <div class="item-controls">
                                        <a class="item-control item-edit" title="{{localize "CAPHARNAUM.PathEditAbility"}}"><i
                                                        class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="{{localize "CAPHARNAUM.PathDeleteAbility"}}"><i
                                                        class="fas fa-trash"></i></a>
                                </div>
                        </li>
                {{/each}}
        </ol>
</div>