

.window-app {
  font-family: $font-primary;
}

.rollableAttribute {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.resetHeroism {
  color: #877555;

  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.capharnaum .window-content {
  background: url(../assets/ui/parchment.webp) center/160%;
}

.sidebar {
  padding-right: 2px;
  border-right: 1px solid $c-brown-alpha5;
}

.capharnaum h2 {
  border-bottom: 4px solid $c-brown-alpha5;
  max-width: 100px;
}

.capharnaum input {
  border: 0;
  border-radius: 0;
  border-bottom: none;
  background-color: transparent;
}

.dice-tooltip {display:block !important}
.dice-total,.dice-formula {display:none !important}