<form class="capharnaum flexlarge flex-group-center grid-2col grid-span-2" autocomplete='off'>
        <p class="grid-span-2">{{localize "CAPHARNAUM.DialogRollExplanation"}}</p>
        <label class="align-center resource-label" for="skillRollSelect">{{localize "CAPHARNAUM.Attribute"}}</label>
        <select name="skillRollSelect" class="attrSelect" />
        <option value='str' default>{{localize "CAPHARNAUM.AttributeStr"}}</option>
        <option value='dex'>{{localize "CAPHARNAUM.AttributeDex"}}</option>
        <option value='con'>{{localize "CAPHARNAUM.AttributeCon"}}</option>
        <option value='int'>{{localize "CAPHARNAUM.AttributeInt"}}</option>
        <option value='cha'>{{localize "CAPHARNAUM.AttributeCha"}}</option>
        </select>
</form>