.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0 5px;

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;

    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.profile-img {
  flex: 0 0 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid $c-brown-alpha5;
  border-radius: 2px;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body {
  height: 55vh;
  overflow-y: scroll;
}

.sheet-body .tab .editor {
  height: 54vh !important;
}

.sheet-body .tab .editor-spellList {
  height: 39vh !important;
}

.tox {

  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

input.input-text-sidebar:disabled {
  color: var(--color-text-dark-primary);
  background-color: transparent;
}

.input-text-sidebar.hp {
  background-color: transparent;
  font-size: 32px;
  max-width: 2.7rem;
}

.input-text-sidebar.heroism {
  background-color: transparent;
  max-width: 1.3rem;
}

.input-text-sidebar {
  max-width: 2.2rem;
  font-size: 20px;
  background-color: $c-brown-alpha3;
  border-radius: 3px;
}



.input-text-sidebar.slash {
  max-width: fit-content;
}

.input-text-sidebar.attributes-virtues-margin {
  margin-right: 5px;
}

.armor-display {
  background-image: url(../assets/ui/sheet_armor.svg);
  background-repeat: no-repeat;
  background-position: center;

  border: 0;
  background-color: transparent;
  width: 1rem;
  max-width: 1rem;
  margin-left: 4px;
  color: #fff;
}

.star-display {
  background-image: url(../assets/ui/star.svg);
  background-repeat: no-repeat;
  background-position: center;

  border: 0;
  background-color: transparent;
  width: 1rem;
  max-width: 1rem;
  color: #fff;

  padding-top: 5px;
}

.attribute,
.virtue,
.soak,
.health,
.defence,
.init {
  margin-bottom: 2px;
}

.span-spacer {
  width: 1.25rem;
  max-width: 1.25rem;
}

.hidden {
  visibility: hidden;
  margin: 0.3rem;
}

.figure {
  grid-row: auto;
  grid-column: auto;
  gap: 0px;
  font-size: 0.8rem;
  border: 1px solid $c-brown-alpha5;
  margin: 0;
}

.figure h3 {
  border-bottom: 1px solid $c-brown-alpha5;
  display: flex;
  flex-direction: column;
}

.skills {
  justify-items: center;
  padding: 5px;
}

.skills input {
  text-align: center;
  max-width: 4rem;
  justify-content: flex-end;
  font-size: 1.5rem;
  background-color: $c-brown-alpha3;
  border-radius: 3px;
}

.magic-verbs {
  display: flex;
  flex-direction: column;
  max-width: 4rem;
}

.editor-spellList {
  padding: 0;
}

.spellList-content {
  border: 1px solid $c-brown-alpha5;
  border-radius: 2px;
  padding: 0.5rem 1rem 0 1rem;
}

.adventurer {
  grid-column: 1;
  grid-row: 1;
}

.warrior {
  grid-column: 2;
  grid-row: 1;
}

.sage {
  grid-column: 1;
  grid-row: 2;
}

.poet {
  grid-column: 2;
  grid-row: 2;
}

.prince {
  grid-column: 1;
  grid-row: 3;
}

.rogue {
  grid-column: 2;
  grid-row: 3;
}

.sorcerer {
  grid-column: 1;
  grid-row: 4;
}

.labourer {
  grid-column: 2;
  grid-row: 4;
}