.resource-label {
  font-weight: bold;
}

.dragon-dice-label {
  max-width: 3.5rem;
}

.skill-label, .item-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: left;
}

.magic-verbs input {
  -webkit-filter: none;
  accent-color: $c-brown-alpha10;
}