<form class="{{cssClass}} item-sheet" autocomplete="off">
        <header class="sheet-header">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                <div class="header-fields">
                        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                        </h1>
                </div>
        </header>
        <hr>
        {{!-- Sheet Body --}}
        <section class="item-sheet-body grid grid-7col">

                <aside class="sidebar grid-span-2">
                        <div class="grid grid-items">
                                <label for="system.quality"
                                        class="resource-label align-left item-label">{{localize "CAPHARNAUM.ItemQuality"}}</label>
                                <input type="text" name="system.quality" value="{{system.quality}}" data-dtype="String" />

                                <label for="system.price"
                                        class="resource-label align-left item-label">{{localize "CAPHARNAUM.ItemPrice"}}</label>
                                <input type="text" name="system.price" value="{{system.price}}" data-dtype="Number" />

                                <label class="resource-label item-label">{{localize "CAPHARNAUM.ItemQuantity"}}</label>
                                <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />

                                <label class="resource-label item-label">{{localize "CAPHARNAUM.ItemWeight"}}</label>
                                <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
                        </div>
                </aside>

                {{!-- Description Tab --}}
                <div class="description grid-span-5">
                        {{editor enrichments.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
                </div>


        </section>
</form>